[submodule "Cubes/vendor/spdlog"]
	path = Cubes/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Cubes/vendor/GLFW"]
	path = Cubes/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Cubes/vendor/ImGUI"]
	path = Cubes/vendor/ImGUI
	url = https://github.com/theCherno/imgui
